<% if @entry.present? %>
<div class="entry_header">
<p><%= @entry.posted_at.strftime("%Y-%m-%d %H:%M") %></p>
<h1><%= @entry.title %></h1>
</div>

<% begin %>
<%= markdown(@entry.body) %>
<% rescue %>
<%= simple_format(@entry.body) %>
<% end %>

<%= render "entries/footer", entry: @entry %>
<div class="pagination">
<%= link_to_unless_current "次の記事", Entry.readable_for(@current_member).find_by_next(@entry.posted_at) %>
<%= link_to_unless_current "前の記事", Entry.readable_for(@current_member).find_by_prev(@entry.posted_at) %>
</div>

<% else %>
<p>記事がありません。</p>
<% end %>