<p class="entry_footer">
<% if @current_member %>
<%= Entry.status_text(entry.status) %> |
<%= link_to "編集", [:edit, entry] %> |
<%= link_to "削除", entry, method: :delete, confirm: "本当に削除しますか？" %> |
<% end %>
カテゴリ：
<% entry.categories.order("categories.name").each_with_index do |category, index| %>
	<%= link_to category.name, { controller: "entries", action: "group", para: category.name } %>
	<%= "," unless entry.categories.length == index + 1 %>
<% end %>
</p>