<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="ja" />
  <meta name="Keywords" content="Ruby, Rails, Ruby on Rails, Mac, OSX, 方法, Webアプリケーション, インストール" />
  <meta name="google-site-verification" content="pZZarLg8Aey4mXdbp7q-tvNgx6cUxCB_5EOtY4wFFV8" />
  <meta name="msvalidate.01" content="CA0014EA90D1367A90CE1E3D9C40E316" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags %>
</head>
<body>

<div id="container">
  <div id="header">
<%= render "shared/header" %>
  </div>
  <div id="main">
    <div id="main_inner">
<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% end %>
<%= yield %>
    </div>
  </div>
  <div id="sidebar" class="sidebar">
<%= render "shared/sidebar" %>
  </div>
  <div id="footer">
<%= render "shared/footer" %>
  </div>
</div>


</body>
</html>
